body {
    font-family: 'Poppins','sans-serif';
    background-color: #ffffff;
    margin: 0px;
} 
/* navbar styling */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeebeb;
    padding: 0px 40px;
}

.nav-left a {
    text-decoration: none;
    padding: 0px 20px;
    font-size: 20px;
    color: black;
}

.nav-left ul {
    display: flex;
    align-items: center;
}


#testimonial {
    font-weight: bold;
}

nav img {
    width: 55px;
    margin: 10px 50px 0px 0px;
}

.nav-right a {
    color: white;
    border: 1px solid #111727;
    background-color: #111727;
    border-radius: 10px;
    padding: 5px 20px;
    margin-right: 70px;
    text-align: justify;
    text-decoration: none;
    font-size: 18px;
}


.hamburger-nav {
    display: none;
    font-size: 20px;
}

.hamburger-nav a{
    color: white;
    background-color: #111727;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    padding: 10px;
    text-decoration: none;
}

#menu {
    background-color: transparent; 
    border: none;
    cursor: pointer;
    display: none;
}
/* navbar styling */

/* testimonial page */

.testimonial-hof {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.testimonial-title {
    text-align: center;
    margin-top: 80px;
}

.testimonial-card {
    width: 350px;
    border: 1px solid whitesmoke; 
    box-shadow: 0 0 10px #585858;
    background-color:white; 
    border-radius: 5%; 
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.testimonial-card img{
    width: 90%; 
    height: 200px;
    border-radius: 2%;
    margin: 20px 0px;
    margin-bottom: 0px;
}
.testimonial-img {
    display: flex;
    justify-content: center;
}

.testimonial-desc {
    margin-left: 20px;
    width: fit-content;
}

.testimonial-name {
    font-weight: bold;
    margin-right: 50px;
}

.testimonial-rating {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px 0px 25px;
}

.testimonial-card p {
    margin-top: 10px;
    font-size: 17px;
}

.testimonial-hof h3 {
    text-align: center;
    font-size: 30px;
}
/* testimonial page */

/* Rating */

.rating {
    margin: 0px 100px 0px 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.rating ul {
    display: flex;
    justify-content: space-evenly;
}

.rating ul li {
    list-style-type: none;
}

.rating ul li button {
    font-size: 20px;
    font-family: 'Poppins','sans-serif';
    background-color: #111727;
    color: white;
    padding: 1px 15px;
    border-radius: 1%;
    box-shadow: 0 0 20px solid whitesmoke;
    cursor: pointer;
}
/* Rating */

@media only screen and (max-width: 600px) {
/* nav responsive styling  */
    nav {
        padding: 0px;
    }
    nav img {
        margin: 0px;
    }

    .nav-right {
        padding-right: 80px;
        display: none;
    }
    .nav-right a {
        margin: 0px;
    }

    .nav-left ul {
        padding-left: 50px;
    }

    #menu {
        display: block;
    }
    .nav-left-hamburger {
        display: none;
    }
    
    .hamburger-nav{
        display: none;
    }
/* nav responsive styling  */
}    