body {
    font-family: 'Poppins','sans-serif';
    background-color: #ffffff;
    margin: 0px;
} 
/* navbar styling */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeebeb;
    padding: 0px 40px;
}

.nav-left a {
    text-decoration: none;
    padding: 0px 20px;
    font-size: 20px;
    color: black;
}

.nav-left ul {
    display: flex;
    align-items: center;
}


#testimonial {
    font-weight: bold;
}

nav img {
    width: 55px;
    margin: 10px 50px 0px 0px;
}

.nav-right a {
    color: white;
    border: 1px solid #111727;
    background-color: #111727;
    border-radius: 10px;
    padding: 5px 20px;
    margin-right: 70px;
    text-align: justify;
    text-decoration: none;
    font-size: 18px;
}


.hamburger-nav {
    display: none;
    font-size: 20px;
}

.hamburger-nav a{
    color: white;
    background-color: #111727;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    padding: 10px;
    text-decoration: none;
}

#menu {
    background-color: transparent; 
    border: none;
    cursor: pointer;
    display: none;
}
/* navbar styling */

/* testimonial page */

.testimonial-oop {
    display: flex;
}
.testimonial-title {
    text-align: center;
    margin-top: 80px;
}

.testimonial-card {
    width: 350px;
    border: 1px solid whitesmoke; 
    box-shadow: 0 0 10px rgba(85, 83, 83, 0.904);
    background-color:white; 
    border-radius: 1%; 
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.testimonial-card img{
    width: 90%; 
    height: 200px;
    border-radius: 1%;
    margin: 20px 0px;
    margin-bottom: 0px;
}
.testimonial-img {
    display: flex;
    justify-content: center;
}

.testimonial-desc {
    margin-left: 20px;
    width: fit-content;
}

.testimonial-name {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-right: 50px;
}

.testimonial-card p{
    margin-top: 10px;
}
/* testimonial page */

@media only screen and (max-width: 600px) {
/* nav responsive styling  */
    nav {
        padding: 0px;
    }
    nav img {
        margin: 0px;
    }

    .nav-right {
        padding-right: 80px;
        display: none;
    }
    .nav-right a {
        margin: 0px;
    }

    .nav-left ul {
        padding-left: 50px;
    }

    #menu {
        display: block;
    }
    .nav-left-hamburger {
        display: none;
    }
    
    .hamburger-nav{
        display: none;
    }
/* nav responsive styling  */
}    